#content{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 30px 0;
}
#content-1{
    font-size: 50px;
    font-family: 'Segoe', 'Segoe UI', Arial, 'sans-serif';
}
#content-2{
    font-size: 20px;
    font-family: 'Segoe', 'Segoe UI', Arial, 'sans-serif';
}
#content-getStarted{
    padding: 15px 25px;
    font-family: 'Rajdhani', sans-serif;
    border-radius: 5px;
    color: aliceblue;
    background-color: #0078d4;
    cursor: pointer;
}
#content-getStarted:hover{ background-color: #106ebe; }
#content-learnMore{
    padding: 15px 25px;
    font-family: 'Rajdhani', sans-serif;
    color: #0078d4;
    cursor: pointer;
}
#content-learnMore:hover{ text-decoration: underline; }

/***----------------------------------------------------------------***/

@media (max-width: 640px) {
    #content{
        padding: 50px 10px 30px 10px;
        gap: 10px;
    }
    #content-1{
        font-size: 40px;
    }
    #content-3{
        /* display: none; */
        width: 100%;
    }
}

/***----------------------------------------------------------------***/
/* @media (max-width: 320px) {

} */