<div class="block-item" onClick="showNote(this)" id="<%= _id %>" >
    <div class="block-item-head"> <%= heading %> </div>
    <div class="block-item-time"> <%= time.toLocaleDateString() + " " + time.toLocaleTimeString() %> </div>
</div> 