<link rel="stylesheet" href="stylesheets/dashboard/dash-content.css">
<div class="block-item" onclick="redirect('dashboard/note')" >
    <div class="block-item-head"> <%= heading %> </div>
    <div class="block-item-time"> <%= time %> </div>
</div>