<link rel="stylesheet" href="stylesheets/note/note.css">
<div id="note">
    <div id="note-head">
        <div id="note-back" onclick="redirect('dashboard')">&#8592;</div>
        <div id="note-title">
            <div id="note-title-1"> Heading</div>
            <div id="note-title-2"> Time   </div>
        </div>
        <div id="edit" onclick="edit()">EDIT</div>
    </div>
    <div id="note-content">
        <div id="note-content-value"> This is the content. </div>
    </div>
</div>

<!-- Scripts -->
<script src="javascripts/note.js"></script>