<link rel="stylesheet" href="stylesheets/profile/profile.css">
<div id="profile">
        <img id="pro-img" src="images/head.png" alt="profile-picture">
        <div id="pro-names">
            <div id="pro-name" > NAME </div>
            <img id="pro-name-edit" src="images/icon_pencil.svg" alt="edit">
        </div>
        <div id="pro-email"> EMAIL </div>
        <div id="log-out" onclick="logOut()" > Log Out</div>
</div>
<script src="javascripts/profile.js"></script>