#note{
    display:none;
}
#note-head{
    padding: 0 30px;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    min-height:8vh;
    color:white;
    background-color: #444;
}
#note-back{ cursor: pointer; }
#note-title{
    width: 60%;
    overflow: hidden;
}
#note-title-1{
    text-align: left;
    font-size: 35px;    
    word-wrap: normal;
    overflow: hidden;
}
#note-title-1:focus{
    outline: none;
}
#note-title-2{
    text-align: left;
}
#note-content{
    min-height: 100vh;
}
#edit{
    color: #444;
    background-color: white;
    padding: 5px;
    flex-grow: 0;
    margin-left: auto;
    cursor: pointer;
}
#note-content{
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 30px;
    background-color: whitesmoke;
}
#note-content-value{
    font-size: 20px;
    box-sizing: border-box;
    width: 75%;
    padding: 40px;
    background-color: white;
    box-shadow: 0 0 5px 0 #aaa;
    text-align: left;
    overflow: overlay;
}
#note-content-value:focus{
    outline: none;
}

/***------------------------------------------------------------------------***/
@media (max-width: 640px) {
    #note-content{
        padding: 0;
    }
    #note-content-value{
        width: 100%;
        padding: 35px 15px;
        text-align: left;
    }
    #note-head {
        gap: 0;
        height: auto;
        flex-direction: column;
        margin-left: 0px;
        padding: 10px 30px;
    }
    #note-title{
        width: 100%;
    }
    #note-title-1{
        overflow: overlay;
        text-align: center;
    }
    #note-title-2{
        text-align: center;
    }
    #edit{
        margin-left: 0px;
    }
}